{% extends 'admin_panel/base.html' %}
{% load static %}

{% block home %}
  
<div class="container pt-5 col-6 bg-light py-4">
    <h1 class="text-center" style="color: #6687b2">New Category</h1>
  <form action="{% url 'admin_panel:create_category' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="category" class="form-label">Cateogry Name</label>
        <input type="text" class="form-control" id="category" name="category" autocomplete="off" placeholder="News Category" required>
      </div>
      
      
      <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>

{% endblock home %}